
:root {
  --myApp-global--spacer--md: 30px;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--myApp-global--spacer--md);
}

.notification-container {
  flex: 0 1 auto;
}

.table {
  width: 500px;
  table-layout: fixed;
}

.label {
  font-size: 1.3rem;
  font-weight: 600;
}

.label p {
  text-align: center;
}

.label-y {
  transform: rotate(270deg);
  height: 95px;
}

td.yaxis-label {
  width: 30px;
}
.yaxis-line {
  border-right: 3px solid #000000;
  width: 5px;
}

.xaxis-line {
  border-top: 3px solid #000000;
}

.vertical {
  display: inherit;
  transform: rotate(270deg);
}

.cell {
  width: 35px;
  height: 35px;
  text-align: center;
}

.cell.active {
  background-color: #EEEEEE;
}
.cell.active  > .dot {
  color: green;
}

.cell.processing  > .dot {
  color: orange;
}

.cell.selected  {
  background-color: yellow;
}

.cell:hover {
  cursor: pointer;
}

.cell > .dot {
  font-size: 2rem;
  line-height: 1rem;
  color: #CCCCCC;
  display: table-cell;
  outline: 1px solid #fff;
  padding: 10px;
}


